.header {
  background-color: #f9f9f9;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  display: flex;
  justify-content: start;
  align-items: center;
}

.link {
  font-size: 18px;
  text-decoration: none;
  color: #333;
  padding: 10px 15px;
  border-radius: 5px;
  transition: color 0.3s, background-color 0.3s;
}
.linkActive {
  text-decoration: underline;
  color: #007bff;
}

.link:hover {
  background-color: #e0e0e0;
  color: #0056b3;
}


